<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer type="module" src="/js/main.js"></script>
    <title>미세먼지DUST</title>
  </head>
  <body>
    안녕하세요? 미세먼지 정보 홈페이지 DUST 입니다~
  </body>
</html>
