<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer type="module" src="/js/main.js"></script>
    <title>미세먼지DUST</title>
  </head>
  <body>
    <header>
      <div class="header__top">
        <img alt="headerLogo" src="/img/mise.jpg" class="header__top_logo" />
        <span class="header__top_text">DUST</span>
      </div>
      <nav>
        <ul>
          <li>현재</li>
          <li>내일</li>
        </ul>
        <div class="rolling">전국 미세먼지 롤링</div>
      </nav>
    </header>
    <section class="section__today">
      <div class="section__today_wrap">
        <div class="leftDiv">
          <canvas id="canvas_today" width="500px" height="600px"></canvas>
        </div>
        <div class="rightDiv">
          <ul>
            <li>
              <span>시도이름</span>
              <div>서울</div>
            </li>
            <li>
              <span>미세먼지</span>
              <div>나쁨</div>
            </li>
            <li>
              <span>초미세먼지</span>
              <div>나쁨</div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section__tomorrow">
      <div class="section__tomorrow_wrap">
        <div class="leftDiv">
          <canvas id="canvas_tomorrow" width="500px" height="600px"></canvas>
        </div>
        <div class="rightDiv">
          <ul>
            <li>
              <span>시도이름</span>
              <div>서울</div>
            </li>
            <li>
              <span>미세먼지</span>
              <div>나쁨</div>
            </li>
            <li>
              <span>초미세먼지</span>
              <div>나쁨</div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
