* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

ul li {
  list-style: none;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;

  .header__top {
    margin: 0px auto;
    display: flex;
    align-items: center;
  }
  .header__top_logo {
    width: 100px;
    height: 70px;
  }
  .header__top_text {
    font-size: 30px;
    font-weight: bold;
  }
  nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0px auto;
    ul {
      width: 40%;
      height: 60px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0px auto;
    }
    li {
      font-size: 20px;
      font-weight: bold;
      width: 100%;
      text-align: center;
    }
    .rolling {
      width: 60%;
      font-size: 20px;
      font-weight: bold;
      display: flex;
    }
  }
}

.section__today {
  width: 100%;
  .section__today_wrap {
    background: rgb(255, 250, 243);
    width: 70%;
    margin: 0px auto;
    display: flex;
  }
  .leftDiv {
    width: 50%;
    padding-top: 60px;
    text-align: center;
    margin: 100px 0;
    .left_subtitle {
      background-color: rgb(253, 227, 113);
      margin: 0px auto;
      width: 500px;
      font-size: 25px;
      font-weight: bold;
      padding: 8px 0;
    }
    canvas {
      box-shadow: 12px 6px 5px rgb(255, 240, 219);
    }
  }
  .rightDiv {
    width: 50%;
    margin: 100px 0;
    padding: 50px 0px;
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        margin: 10px;
        font-size: 20px;
        display: flex;
        width: 70%;
        height: 150px;
        background-color: #fff;
        text-align: center;
        padding-right: 10px;
        box-shadow: 12px 6px 5px rgb(255, 240, 219);
        span {
          width: 50%;
          font-weight: bold;
          padding: 60px 0px;
          border-right: rgb(255, 240, 219) 10px solid;
        }
        img {
          width: 110px;
          height: 140px;
        }
        .today_date {
          color: rgb(143, 81, 0);
          padding: 60px 0 60px 40px;
        }
        .today_sido {
          color: rgb(143, 81, 0);
          padding: 60px 0 60px 95px;
        }
        .today_value {
          color: rgb(143, 81, 0);
          padding: 60px 0 60px 100px;
        }
        .today_grade {
          padding: 5px 0 5px 65px;
        }
      }
    }
  }
}

.section__tomorrow {
  width: 100%;
  .section__tomorrow_wrap {
    background: rgb(255, 250, 243);
    width: 70%;
    margin: 0px auto;
    display: flex;
  }
  .tom_leftDiv {
    margin-top: 50px;
    width: 50%;
    text-align: center;
    .tom_left_subtitle {
      background-color: rgb(253, 227, 113);
      width: 400px;
      margin: 0px auto;
      padding: 3px 0;
    }
    .misemove_img {
      width: 400px;
      height: 500px;
      margin-bottom: 50px;
      box-shadow: 12px 6px 5px rgb(255, 240, 219);
    }
    .info_box_title {
      background-color: rgb(253, 227, 113);
      width: 400px;
      margin: 0px auto;
      padding: 3px 0;
    }
    .info_box_text {
      width: 400px;
      margin: 0px auto 50px;
      background-color: #fff;
      font-size: 12px;
      padding: 10px;
      box-shadow: 12px 6px 5px rgb(255, 240, 219);
    }
  }

  .tom_rightDiv {
    margin-top: 50px;
    width: 50%;

    .tom_right_myTown {
      width: 70%;
      margin: 0px auto;
      position: relative;
      flex-direction: column;
      .myTown_subtitle {
        margin: 0px auto;
        background-color: rgb(253, 227, 113);
        width: 100%;
        text-align: center;
      }
      .myTown_info {
        background: #fff;
        display: flex;
        flex-direction: column;

        .myTown_info_chart {
          display: flex;
          align-items: center;
          text-align: center;
        }
      }
      .pointer {
        position: absolute;
        bottom: -10px;
        left: 120px;
        font-size: 50px;
      }
      button {
        text-align: right;
        background: none;
        border: none;
      }
      button:hover {
        color: gray;
      }
    }
  }
}
